# Create a Postgres database on Vercel: https://vercel.com/postgres
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

BLOB_STORE_HOSTNAME=
BLOB_READ_WRITE_TOKEN=

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
AUTH_SECRET=

# Automatically detected on Vercel
NEXTAUTH_URL=