@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 84.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 222.2 47.4% 11.2%;
    --chart-2: 210 40% 96.1%;
    --chart-3: 210 40% 96.1%;
    --chart-4: 210 40% 99.1%;
    --chart-5: 222.2 50.4% 11.2%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 218 14% 16%;
    --foreground: 210 40% 98%;
    --muted: 218 12% 20%;
    --muted-foreground: 218 12% 70%;
    --popover: 218 14% 13%;
    --popover-foreground: 219 14% 81%;
    --card: 218 14% 14%;
    --card-foreground: 219 14% 76%;
    --border: 218 4% 21%;
    --input: 218 4% 24%;
    --primary: 220 13% 86%;
    --primary-foreground: 220 13% 26%;
    --secondary: 220 3% 25%;
    --secondary-foreground: 220 3% 85%;
    --accent: 218 14% 31%;
    --accent-foreground: 218 14% 91%;
    --destructive: 10 85% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 13% 86%;
    --chart-1: 220 13% 86%;
    --chart-2: 220 3% 25%;
    --chart-3: 218 14% 31%;
    --chart-4: 220 3% 28%;
    --chart-5: 220 16% 86%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}