@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 26 57% 98%;
      --foreground: 26 57% 4%;
      --muted: 26 32% 87%;
      --muted-foreground: 26 11% 26%;
      --popover: 26 57% 98%;
      --popover-foreground: 26 57% 4%;
      --card: 26 57% 97%;
      --card-foreground: 26 57% 3%;
      --border: 26 2% 91%;
      --input: 26 2% 91%;
      --primary: 26 80% 67%;
      --primary-foreground: 26 80% 7%;
      --secondary: 26 9% 82%;
      --secondary-foreground: 26 9% 22%;
      --accent: 26 9% 82%;
      --accent-foreground: 26 9% 22%;
      --destructive: 19 99% 36%;
      --destructive-foreground: 0 0% 100%;
      --ring: 26 80% 67%;
      --chart-1: 26 80% 67%;
      --chart-2: 26 9% 82%;
      --chart-3: 26 9% 82%;
      --chart-4: 26 9% 85%;
      --chart-5: 26 83% 67%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 26 34% 3%;
      --foreground: 26 37% 100%;
      --muted: 26 32% 13%;
      --muted-foreground: 26 11% 74%;
      --popover: 26 34% 3%;
      --popover-foreground: 26 37% 100%;
      --card: 26 34% 4%;
      --card-foreground: 0 0% 100%;
      --border: 26 2% 11%;
      --input: 26 2% 11%;
      --primary: 26 80% 67%;
      --primary-foreground: 26 80% 7%;
      --secondary: 26 5% 11%;
      --secondary-foreground: 26 5% 71%;
      --accent: 26 5% 11%;
      --accent-foreground: 26 5% 71%;
      --destructive: 19 99% 51%;
      --destructive-foreground: 0 0% 100%;
      --ring: 26 80% 67%;
      --chart-1: 26 80% 67%;
      --chart-2: 26 5% 11%;
      --chart-3: 26 5% 11%;
      --chart-4: 26 5% 14%;
      --chart-5: 26 83% 67%;
    }
  }
  

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}